<!-- start custom comments snippet -->
{% include base_path %}
{% include comment-write.html %}

{% assign comments_length = page.comment_list | size %}

{% if comments_length > 0 %}
  {% assign sorted_comments = page.comment_list | sort: 'date' %}

  {% for comment in sorted_comments %}
  <p class="comment notice--primary">
    <a href="{{ comment.url }}" rel="nofollow">{{ comment.name }}</a>
    {% if comment.date %}
    <time datetime="{{ comment.date | date_to_xmlschema }}">{{ comment.date | date: "%B %d, %Y %H:%m" }}</time>
    {% endif %}
    <br>
    {{ comment.message }}
  </p>
  {% endfor %}

  {% if comments_length >= 10 %}
  {% include comment-write.html %}
  {% endif %}
{% endif %}

<!--<p><small><span data-webmention-count data-url="{{ base_path }}{{ page.url }}">0</span> mentions</small></p>-->
<!-- end custom comments snippet -->